{% extends 'shop/layouts/main.html' %}


{% block title %}


    
 <title>Buy {{ product_details.name | title }}</title>
{% endblock title%}

{% block content %}


<section class="bg-light py-4 my-5" style="min-height: 600px;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'product' product_details.catagory.name %}">Collections</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ product_details.name }}</li>
          </ol>
        </nav>
        <h4 class="mb-3" style="color: dimgray;">{{product_details.name | title}}</h4>
        <hr style="border-color: #b8bfc2;">
      </div>
      <div class="col-4 my-3" pic-box>
        {% if product_details.trending %}
        <div class="hot">Hot</div>
        {% endif %}
        <img src="{{ product_details.product_image.url }}" class="card-image-top" alt="{{ product_details.name }}">
      </div>
      <div class="col-5 my-3" style="margin-left: auto; margin-top: auto;">
        <h5 class="text-success">{{ product_details.name | title }}</h5>
        <p>{{ product_details.vendor }}</p>
        <p>{{ product_details.description }}</p>
        <h6 class="my-2" style="color: red;">Current Price : Rs. <s>{{ product_details.original_price }}</s></h6>
        <h5 class="my-2"> <b style="color: black; border-color: gray; text-transform: capitalize; font: 23px Poppins serif;"> Offer Price : Rs. {{ product_details.selling_price }} </b></h5>
        <div class="my-3">
          {% if product_details.quantity > 0 %}
            <button type="button" class="btn btn-primary btn-lg" style="background-color: white; color: black; border-color: black;">Add to Cart</button>
            <button type="button" class="btn btn-secondary btn-lg" style="background-color: yellow; color: rgb(5, 5, 5); border-color: rgb(0, 0, 0);">Buy Now</button>
          {% else %}
            <button type="button" class="btn btn-primary btn-lg" style="background-color: rgb(54, 53, 53); color: black; border-color: black;">Out of Stock</button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

    




